extends ../../views/about.pug

block about-header
    .row
        .col-lg-12.mx-auto
            h2 About
            p.lead
            | The ATLAS-ML computational platform is the product of the University of Chicago. 
            | It leverages software and infrastructure from the ATLAS Midwest Tier2 Center and the SLATE project.

block footer
    include ./footer.pug