extends ../../views/index.pug

block content
    header#home.bg-default.text-white
        .container
            .row
                .col-lg-5.mx-auto
                    h1 ATLAS ML Platform
                    p.lead 
                        | Get your private ML environment in minutes or use public JupyterLab to learn how others do things. Quickly execute your Spark jobs.
                        | The latest versions of the most popular ML software packages are preinstalled.
                        | If you need something exotic jusk 
                        a(href="mailto:ivukotic@uchicago.edu") 
                        | ask.
                        | Login using your own institution sign on.
                    p
                        | Soon to come: 
                    ul 
                        li TensorFlow as a service. 
                        li Environment with OpenAI reinforcement learning framework.
                        li Caffee
                        li CVMFS mounting
                        li gitlab support
					p
                        | Hosted on ATLAS MWT2 hardware at University of Chicago.
                .col-lg-4.mx-auto
                    img(src='images/SSL-logo-v5-line.png' style='width:50%;')


block footer
    include ./footer.pug