extends ../../views/footer.pug

block footer_content
    | © 2019 University of Chicago. This platform is supported by National Science Foundation grants: NSF OAC-1724821 "CIF21 DIBBs: EI: SLATE and the Mobility of Capability", NSF CNS-1730158 "CI-New: Cognitive Hardware and Software Ecosystem Community Infrastructure (CHASE-CI)", NSF OAC-1541349 "CC*DNI DIBBs: The Pacific Research Platform", NSF PHY-1624739 "U.S. ATLAS Operations: Discovery and Measurement at the Energy Frontier", NSF PHY-1148698 “The Open Science Grid, The Next Five Years: Distributed High Throughput Computing for the Nation's Scientists, Researchers, Educators, and Students”, the Department of Energy ASCR/NGNS DDRM project "Virtual Clusters for Community Compuation (VC3)",  and by the Enrico Fermi Institute at the University of Chicago.
    
    .row
        .col-md-2.mx-auto
            img(src='NSF_4-Color_bitmap_Logo.png' style='width:50%;')
        .col-md-5.mx-auto
            img(src='OOS_brandtrans.gif' style='width:50%;')